@model WUI.Models.RaceModel

@{
    ViewBag.Title = "Details";
}

@section scripts{
    @Scripts.Render("~/bundles/Maps/js");
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzTP3POU1y-NMj2XQVp8EaF4duTdcgEq0&callback=initMap" async defer></script>
    <script>
        idCourse =@Model.Id;
    </script>
}
@section css {
    @Styles.Render("~/Content/Race/css")
}

<div class="two-columns-right">
    <div class="column right">
        @Html.Partial("_DetailsPartial")
    </div>

    <div class="main-container">
        <h1 class="details-race-title">@Html.DisplayFor(model => model.Title)</h1>

        <p class="description">@Html.DisplayFor(model => model.Description)</p>

        <div class="map">
            <h2>Parcours</h2>

            <div>
                <div id="map"></div>
    </div>
    </div> </div</div>


