@model WUI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Gérer le compte";
}
@section css {
    @Styles.Render("~/Content/Account/css")
}

<div class="two-columns-left">
    <div class="column left">
        @Html.Partial("_MenuPartial")
    </div>

    <div class="main-container">
        <h1>Mes informations personnelles</h1>

        <p class="message-success">@ViewBag.StatusMessage</p>

        @Html.Partial("_ChangeIdentityPartial")

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>