@{
    ViewBag.Title = "_LastListRacePartial";
}

<h2>Mes dernières courses</h2>

<table class="table races account">
    <thead>
        <tr>
            <th class="race-main-column">Course</th>
            <th class="distance">Distance</th>
            <th class="time">Temps personnel</th>
            <th class="classement">Classement</th>
            <th class="etat">Etat</th>
            <th class="unsubscribe">&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @* --- Exemple ligne course non effectuée ---*@
       
    @{
        List<WUI.Models.RaceDisplayModel> races = (List<WUI.Models.RaceDisplayModel>)TempData["Races"];

        foreach (WUI.Models.RaceDisplayModel race in races)
        {
        <tr>
            <td class="race-main-column table-title">

                <span class="title">@race.Title</span>
                <div class="mobile-table-content">
                    <div>
                        <strong>Date : </strong>
                        <span>@race.Date.Day/@race.Date.Month/@race.Date.Year</span>
                    </div>
                    <div>
                        <strong>Ville : </strong>
                        <span>@race.City</span>
                    </div>
                    <div class="mobile distance">
                        <strong>Distance : </strong>
                        <span>@race.Distance mètres</span>
                    </div>
                    <div class="mobile time">
                        <strong>Temps personnel : </strong>
                        @* TODO: Temps *@
                        <span class="undefined">
                            @if (race.Classement == null)
                            {
                                <text>Non Determinée</text>
                            }
                            else
                            {
                                <text>@race.Time.Value</text>
                            }
                        </span>
                    </div>
                    <div class="mobile classement">
                        <strong>Classement : </strong>
                        <span class="undefined">
                       
                             @if (race.Classement == null)
                             {
                                 <text>Non Determinée</text>
                                }
                                else
                                {
                                 <text>@race.Classement</text>
                             }
                              
                        </span>
                    </div>
                    <div class="mobile etat">
                        <strong>Etat : </strong>
                        <span>@race.State</span>
                    </div>
                    <div class="mobile unsubscribe">
                        @* TODO: Gérer la désinscription *@
                        <span class="button unsubscribe">
                            @Html.ActionLink("Se désinscrire", "")
                        </span>
                    </div>
                </div>
            </td>

            <td class="distance"><span class="distance">@race.Distance</span> <span class="unite">mètres</span></td>

            <td class="time"><span class="undefined">
            @if (race.Classement == null)
            {
                <text>Non Determinée</text>
            }
            else
            {
                <text>@race.Time.Value.Hours:@race.Time.Value.Minutes:@race.Time.Value.Seconds</text>
            }
                </span></td>

            <td class="classement"><span class="undefined">@if (race.Classement == null)
            {
                <text>Non Determinée</text>
            }
            else
            {
                <text>@race.Classement</text>
            }
</span></td>

            <td class="etat"><span>@race.State</span></td>

            @* Bouton désinscription *@
            <td class="unsubscribe">
                @* TODO: Gérer la désinscription *@
                <span class="button unsubscribe">
                    @Html.ActionLink("Se désinscrire", "")
                </span>
            </td>
        </tr>
        }

    }
           
    </tbody>

    <tfoot>
        <tr>
            <td colspan="8" class="link">
                <span>
                    @Html.ActionLink("Voir toutes mes courses", "MyRaces")
                </span>
            </td>
        </tr>
    </tfoot>
</table>
