@model WUI.Models.RaceModel

@{
    ViewBag.Title = "Inscrire";
}
@section css {
    @Styles.Render("~/Content/Race/css")
}

<div class="one-column">
    <h1>Inscription à la course "@Html.DisplayFor(model => model.Title)"</h1>

    <div class="inscription-details">
<p>Afin de vous inscrire à la course, merci de prendre en compte les informations suivantes.</p>

<p>@Html.DisplayFor(model => model.Reglement)</p>

<div class="actions">
    <div class="button secondary return">
            @Html.ActionLink("Retour", "Details", "Race", new { id = Model.Id }, null)
    </div>
    <div class="button confirm">
        @Html.ActionLink(
            "Valider l'inscription",
            "ConfirmInscription",
            "Inscription",
            new { idCourse = Model.Id, loginUser = User.Identity.Name },
            null
        )
    </div>
</div>
</div>