@using WUI.Models
@model List<DisplayConfigurationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer une nouvelle configuration", "Create")
</p>
<table>
    <tr>
        <th>
            Identifiant de la personne
        </th>
        <th>
            Nom de l'appareil
        </th>
        <th>
            Vitesse max
        </th>
        <th>
            Vitesse moyenne
        </th>
        <th></th>
    </tr>

    
@if (Model != null)
{
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedAvg)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Détails", "Details", new { id=item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
}

</table>
